<%- include('../partials/header') %>
<h1>Something Went Wrong</h1>
<img 
            src="/images/500-error.jpg" 
            alt="Scenic watercolor of a lone train track vanishing into the mountains"
            class="error-hero-image"
        />
<p>
    We are experiencing technical difficulties. Our team has been notified and is working to fix the issue.
</p>
<p>
    <a href="/">Return to homepage</a>.
</p>

<% if (error && error.message) { %>
<details open>
    <summary>Error Details:</summary>
    <pre><%= error.message %></pre>
    <br>
    <% if (error.stack) { %>
    <pre><%= error.stack %></pre>
    <% } %>
</details>
<% } %>

<%- include('../partials/footer') %>